

<div class="footer">
<div class="col-md-3">
<div class="logo">
<img src="/assets/logo2.png" alt="logo" class="logoweb">
</div>

<div class="about">
<h4> Women`s Apparel, Jewellery and 
<br> Accessories - Shop everything  
<br> under one roof with Shree Boutique.</h4>
</div>
</div>
<div class="col-md-3">
<div class="contact">
<h3>CONTACT US</h3>
<p><mat-icon> local_phone</mat-icon>&nbsp;<a href="tel:08210073356">08210073356</a></p>
<p>	<mat-icon>mail</mat-icon>&nbsp;<a href="mailto:yashaswibiyahut25@gmail.com">yashaswibiyahut25@gmail.com</a></p>
<p><mat-icon> location_on</mat-icon> &nbsp;<a href="https://www.google.com/maps/place/Shree+Boutique/@25.7797806,84.7476026,17z/data=!3m1!4b1!4m5!3m4!1s0x3992bbb211b90039:0x79f87565cb385c9a!8m2!3d25.7797758!4d84.7497913" target="_blank">
Mouna Aloo Bazar
near Shiv <br> Mahal 
Chapra, Bihar- 841301 India</a></p>

</div>
</div>
<div class="col-md-2">
<div class="contact">
<h3>QUICK LINKS</h3>
<p>&nbsp;<a href="#">My Account</a></p>
<p>&nbsp;<a href="#">Order Tracking</a></p>
<p>&nbsp;<a href="#">My Wishlist</a></p>
<p>&nbsp;<a href="#">Shopping Cart</a></p>
</div>
</div>
<div class="col-md-2">
<div class="contact">
<h3>INFORMATIONS</h3>
<p>&nbsp;<a href="#">Terms & Condition</a></p>
<p>&nbsp;<a href="#">About Us</a></p>
<p>&nbsp;<a href="#">Contact Us</a></p>
<p>&nbsp;<a href="#">Privacy Policy</a></p>

</div>
</div>

<div class="col-md-2">
<div class="contact">
<h3>JOIN OUR FAMILY</h3>
<p><mat-icon><a href="#"> facebook</a></mat-icon> <a href="#"> <img src="https://download.logo.wine/logo/Instagram/Instagram-Logo.wine.png" style="height:30px; margin-top:-15px;"></a></p>


</div>
</div>
</div>
