<div class="cat">
	<h1>SHOP BY CATEGORY</h1>
	<div >
		<owl-carousel-o [options]="customOptions"> <ng-template
			carouselSlide>
		<div class=change>
			<a ng-href="#"><img
				src="https://kapaasbynikita.com/uploads/category/5cea7f31d06db170814643980b3ecda5.png"
				alt="Kurtas"> </a> <a ng-href="#"><h5 class="text-center">Kurtas</h5></a>
		</div>
		</ng-template> <ng-template carouselSlide>
		<div class=change>
			<img
				src="https://kapaasbynikita.com/uploads/category/c8db5a64bc309a4df93d6b64761e0ad8.png"
				alt="Suits"> <a ng-href="#"><h5 class="text-center">Suits</h5></a>
		</div>
		</ng-template> <ng-template carouselSlide>
		<div class=change>
			<img
				src="https://kapaasbynikita.com/uploads/category/1a9aee7cf984a8de2c044374c172e01f.png"
				alt="Saree"> <a ng-href="#"><h5 class="text-center">Saree</h5></a>
		</div>
		</ng-template> <ng-template carouselSlide>
		<div class=change>
			<img
				src="	https://kapaasbynikita.com/uploads/category/ef2e744172ea2259b1a9225046b2e392.png"
				alt="Material"> <a ng-href="#"><h5 class="text-center">Material</h5></a>
		</div>
		</ng-template> <ng-template carouselSlide>
		<div class=change>
			<img src="https://en.pimg.jp/056/393/319/1/56393319.jpg"
				alt="Accesories"> <a ng-href="#"><h5 class="text-center">Accesories</h5></a>
		</div>
		</ng-template> </owl-carousel-o>
	</div>
</div>