<html>
<body>
<a name="top"></a>
<div class="adv"><marquee class="blink" >Spring/Summer Collection is Live Here&nbsp;&nbsp;  &nbsp;&nbsp; |&nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; Free Shipping on All Orders above 1000/- </marquee> 
</div>
<header></header>
<a href="#top" [class.header_change]="header_variable" style="opacity:0.9; "><span id="site-scroll" style="display: inline;">
	<mat-icon>keyboard_arrow_up</mat-icon>
</span></a>
<app-home></app-home>
<app-categories></app-categories>
<div class="whatsapp">
<a href="https://wa.me/918210073356" target="_blank"><img src="https://download.logo.wine/logo/WhatsApp/WhatsApp-Logo.wine.png" width=100px></a>
</div>
 <app-footer></app-footer> 
</body>
</html>