<div class="test" >
<br>
<h2>TESTIMONIALS</h2>
<ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
      <div class="leftquotes"><img src="/assets/quotes.png" style="height:11px;"></div>
     	<br> <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><br>
     	 <p class="txt">Affordable budget with great quality.Had a Great experience!😀</p>
        <img src="/assets/my.jpeg" alt="description" class="image">
        <p class="name">Yashaswi Biyahut</p>
         <p class="des">Software Engineer</p><br>
         <div class="quotes"><mat-icon> format_quote</mat-icon></div>
      </div>
  </ng-template>
  <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
      <div class="leftquotes"><img src="/assets/quotes.png" style="height:11px;"></div>
     	<br> <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><br>
     	 <p class="txt">I love the collections and the designs are super amazing at reasonable price.</p>
        <img src="https://freesvg.org/img/abstract-user-flat-4.png" alt="description" class="image">
        <p class="name">Priya Gupta</p>
         <p class="des">HouseWife</p><br>
         <div class="quotes"><mat-icon> format_quote</mat-icon></div>
      </div>
  </ng-template>
  <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
      <div class="leftquotes"><img src="/assets/quotes.png" style="height:11px;"></div>
     	 <br><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><br>
     	 <p class="txt">A one stop for ladies at affordable price..</p>
        <img src="https://freesvg.org/img/abstract-user-flat-4.png" alt="description" class="image">
        <p class="name">Rohit Kumar</p>
         <p class="des">Software Engineer</p><br>
         <div class="quotes"><mat-icon> format_quote</mat-icon></div>
      </div>
  </ng-template>
  <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
      <div class="leftquotes"><img src="/assets/quotes.png" style="height:11px;"></div>
     	 <br><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><br>
     	 <p class="txt">Great designs at affordable prices</p>
        <img src="/assets/ajju.jpg" alt="description" class="image">
        <p class="name">Ajju Prasad</p>
         <p class="des">Asian Paints Pvt. Ltd</p><br>
         <div class="quotes"><mat-icon> format_quote</mat-icon></div>
      </div>
  </ng-template>
  <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
      <div class="leftquotes"><img src="/assets/quotes.png" style="height:11px;"></div>
     	 <br><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><br>
     	 <p class="txt">I ordered a saree online. I was worried about the quality at first but it turned out even better than I expected. Thank you!</p>
        <img src="https://freesvg.org/img/abstract-user-flat-4.png" alt="description" class="image">
        <p class="name">Swati Prasad</p>
         <p class="des">HouseWife</p><br>
         <div class="quotes"><mat-icon> format_quote</mat-icon></div>
      </div>
  </ng-template>
  
  <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
      <div class="leftquotes"><img src="/assets/quotes.png" style="height:11px;"></div>
     	<br> <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><br>
     	 <p class="txt">A fabulous range of fabrics. It’s great to choose from so many different types :)</p>
        <img src="/assets/di.jpg" alt="description" class="image">
        <p class="name">Neha Biyahut Sinha</p>
         <p class="des">Software Engineer</p><br>
         <div class="quotes"><mat-icon> format_quote</mat-icon></div>
      </div>
  </ng-template>
 
</ngb-carousel>

</div>
