 .picsum-img-wrapper
{
	height:600px;
	width:100%;
 	background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
} 
.slider{
	margin-top:-5.5%;
	
}


 @media only screen and (max-width: 999px) {
	
	
.picsum-img-wrapper
{
	height:350px;
	width:100%;
 	background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
} 
.slider{
	margin-top:-1%;
}
}