
<ngb-carousel class="slider">
  <ng-template ngbSlide>
    <div >
      <img src="https://cdn.shopify.com/s/files/1/0630/0355/8114/files/Banner_1-min_2048x.png?v=1649336041" alt="Random first slide" class="picsum-img-wrapper" >
    </div>
    <!-- <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div> -->
  </ng-template>
   <ng-template ngbSlide>
    <div >
      <img src="https://cdn.shopify.com/s/files/1/0402/1515/0743/files/SAREE_BANNER_2000x.jpg?v=1629984748" alt="Random third slide" class="picsum-img-wrapper" >
    </div>
   <!--  <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div> -->
    </ng-template>
   <ng-template ngbSlide>
    <div >
      <img src="https://cdn.shopify.com/s/files/1/0520/7395/5522/files/banner-first_809x.progressive.jpg?v=1649150545" alt="Random second slide" class="picsum-img-wrapper" >
    </div>
   <!--  <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div> -->
  </ng-template>
</ngb-carousel>
